html {
  font-size: 16px !important;
}

.content {
  height: 100vh;
  position: relative;
}
.content .main {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content .bold {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.imgContainer {
  height: auto;
  width: 500px;
  max-width: 70vw;
  margin: auto;
}

.help-block {
  color: red !important;
}
.help-block ul {
  list-style: none;
  text-align: left;
}

.controls input, .controls textarea {
  font-size: 1.125rem;
}

#success {
  text-align: left;
}

.ml-3 {
  margin-left: 1rem;
}

#name .text {
  stroke-dasharray: 3098;
  stroke-dashoffset: 3098;
  animation: animate 15s linear forwards;
}

@keyframes animate {
  to {
    stroke-dashoffset: 0;
  }
}